body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

.chart rect {
  fill: #aec7e8;
}

.chart .fileRead rect {
  fill: #A7C8AE;
}

.chart .fileWrite rect {
  fill: #E8AEAE;
}

.chart text {
  fill: rgb(132, 95, 95);
  font: 10px sans-serif;
  text-anchor: end;
}
